$theme-colors: (
  primary: #8a566a,
  dark: #080708,
  alert: #006d77,
);
$featureFont: "Love Ya Like A Sister";

h1,
h2,
h3,
h5 {
  font-family: $featureFont;
}

@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
@import "../../node_modules/bootstrap/scss/bootstrap";
